.beaker {
  --shadowH: 35px;
  position: relative;
  height: calc(250px * var(--scale));
  width: calc(200px * var(--scale));
  border: 2px solid black;
  background-color: rgba(189, 195, 199, 0.6);
  border-top-left-radius: 100px 30px;
  border-top-right-radius: 100px 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}

.beaker::before {
  content: "";
  width: 100%;
  height: var(--shadowH);
  position: absolute;
  border-bottom-left-radius: 100px 30px;
  border-bottom-right-radius: 100px 30px;
  /* z-index: -1; */
  background-color: rgba(55, 57, 57, 0.4);
}

.beaker > .sediment {
  background-image: url("../images/sediment-soil.jpg");
  background-size: contain;
  background-origin: border-box;
  height: 100%;
  position: relative;
  z-index: -1;
  bottom: -250px;
}

@keyframes fillBeaker {
  0% {
    bottom: calc(-250px * var(--scale));
  }

  100% {
    bottom: calc(-150px * var(--scale));
  }
}
