:root {
  --scale: 0.7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#background {
  position: absolute;
  z-index: -999;
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  position: absolute;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: end;
  padding-bottom: 50px;
}

.appratus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.appratus > .beaker {
  align-self: flex-end;
  margin-right: 20px;
}

.appratus > .weighing_balance {
  align-self: flex-start;
}

.actions {
  padding: calc(100px * var(--scale));
  background-color: whitesmoke;
  /* border: 2px solid black; */
  position: absolute;
  right: 10px;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: calc(20px * var(--scale));
  z-index: 10;
}

.actions > button {
  padding: calc(10px * var(--scale));
  /* width: 100px; */
  /* height: 40px; */
}

.actions > #close {
  all: unset;
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

#openAction {
  position: absolute;
  right: 2rem;
  top: 3rem;
}

.instruction {
  position: absolute;
  top: 100px;
  right: 0px;
  width: 30%;
  max-width: 30%;
  /* z-index: ; */
}

.accordion {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.accordion-item {
  margin-bottom: 8px;
}

.accordion-title {
  cursor: pointer;
  padding: 8px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  text-align: left;
}

.accordion-content {
  background-color: white;
  display: none;
  padding: 8px;
  padding-left: 20px;
  border-top: 1px solid #ddd;
}

/* .test {
  height: 300px;
  width: 10px;
  background-color: red;
  position: absolute;
  top: 0px;
} */
